@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);
.SearchCtrl .search {
  position: relative;
  font-size: 2em;
  font-weight: 200;
}
.SearchCtrl .search input {
  display: block;
  width: 100%;
  padding: 0.15em 0.2em 0.15em 1.7em;
  border: none;
}
.SearchCtrl .search .searchbar-icon {
  position: absolute;
  padding: 0.15em 0.4em;
  color: #999999;
  line-height: 1.42em;
}
