@import url(//fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700);

@text: #363463;
@deemphasized: #999;

@primaryFont: "Open Sans";
@primaryBoldFont: "Open Sans Bold";
@primaryLightFont: "Open Sans Light";
@primaryItalicFont: "Open Sans Italic";