<aside ng-repeat="alert in $root.alerts" class="alert alert-{{alert.type}}">
  
  <span ng-if="!alert.partial" ng-bind-html="alert.message"></span>
  <span ng-if="alert.partial" ng-include="alert.partial"></span>

  <a class="action" ng-if="alert.details" 
    ng-click="alert.toggleDetails()">
      [details]
  </a>
  
  <small ng-if="alert.showDetails">{{alert.details}}</small>

  <button type="button" class="close" aria-hidden="true"
    ng-click="alert.close()">
      &times;
  </button>
</aside>