<link rel="stylesheet" href="css/create.css"> 

<form>


<div class="row" ng-controller="ReleaseFileCtrl" >
  <div class="jumbotron upload-jumbotron" ng-file-drop="onFileSelect($files)"
    ng-file-drag-over-class="upload-jumbotron-dragged"
    ng-file-drop-available="dropSupported=true">

    <h3>Upload a module:</h3>

      <div class="center-block">
        <p ng-show="dropSupported">
            Drop an <code>.omod</code> here or
            <a class="btn btn-default action" ng-click="selectFile()">
              choose a file
            </a>
        </p>
        <p ng-show="progress">
          <progressbar value="progress" type="{{success ? 'success' : 'primary'}}">
            <span ng-if="!success && progress != 100">
              {{progress}}% complete
            </span>
            <span ng-if="!success && progress == 100">
              Processing...
            </span>
            <span ng-if="success">
              Upload complete.
            </span>
          </progressbar>
        </p>
      </div>

      <!-- <button class="btn btn-default" ng-click="upload.abort()">Cancel Upload</button> -->

  </div>
</div>

<div class="row" ng-controller="DuplicateModuleLookupCtrl"
ng-init="init()">

<alert ng-if="duplicates" type="warning">
  <p>
    <span class="glyphicon glyphicon-paperclip"></span>
    <strong>It looks like you're uploading a duplicate of:</strong>
  </p>
  <ul ng-repeat="d in duplicates">
    <li>
      <a ui-sref="show({id: d.id, slug: d.slug})">{{d.name}}</a>
    </li>
  </ul>
  <p>
    Would you like help? Please confirm the module you're uploading is not a duplicate before
    proceeding. Be sure to upload a new <em>release</em> of an existing module
    if you're releasing a new version.
  </p>
</alert>

</div>

<div class="row">

  <div class="col-md-6">

    <h3>Describe this module:</h3>
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" type="text" ng-model="module.name">
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" rows="3" ng-model="module.description"></textarea>
    </div>

    <div class="form-group">
      <label>Documentation URL</label>
      <input class="form-control" type="text" ng-model="module.documentationURL">
    </div>
  </div>
  

  <div class="col-md-6">

    <h3>Describe this release:</h3>
    <div class="form-group">
      <label>Version</label>
      <input class="form-control" type="text" ng-model="release.moduleVersion">
    </div>

    <div class="form-group">
      <label>OpenMRS Version Requirement</label>
      <input class="form-control" type="text" ng-model="release.requiredOMRSVersion">
    </div>

  </div>

</div>

<button class="btn btn-primary" ng-disabled="!isCompleted(module)"
  ng-click="finishCreation()">
    Complete Upload
</button>
<button class="btn btn-link" ng-click="cancelUpload()">
  Cancel
</button>

</form>

<script type="text/ng-template" id="uponExitDialog.html">
<div class="modal-header">
  <button type="button" class="close" ng-click="close()">
    &times;
  </button>
  <h4 class="modal-title">Are you sure you want to abandon your module?</h4>
</div>
<div class="modal-body">
  <p>
    The module you've begun to upload is not complete. If you leave this page,
    it will be deleted.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" ng-click="$close()">
    Continue and Delete Upload
  </button>
  <button type="button" class="btn btn-default" ng-click="$dismiss()">
    Stay on this page
  </button>
</div>
</script>
