<ul class="pager" ng-if="showPager">
  <li class="previous" ng-class="{disabled: !canPageLeft()}"
    ng-switch on="canPageLeft()">
      <a ng-switch-when="true" ng-href="#/browse/{{page - 1}}">&larr; Newer</a>
      <a ng-switch-when="false">&larr; Newer</a>
  </li>

  <li class="pagenum">Page {{page}}</li>

  <li class="next" ng-class="{disabled: !canPageRight()}"
    ng-switch on="canPageRight()">
      <a ng-switch-when="true" ng-href="#/browse/{{page + 1}}">Older &rarr;</a>
      <a ng-switch-when="false">Older &rarr;</a>
  </li>
</ul>

<table class="table table-striped table-hover module-list">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>

  <tr ng-repeat="module in modules">
      <td>
        <a ng-href="#/show/{{module.id}}/{{module.slug}}">
          {{module.name}}
        </a>
      </td>
      <td>
        <a ng-href="#/show/{{module.id}}/{{module.slug}}">
          {{module.description}}
        </a>
      </td>
  </tr>

</table>

<ul class="pager" ng-if="showPager && modules.length">
  <li class="previous" ng-class="{disabled: page < 2}">
    <a ng-href="#/browse/{{page - 1}}">&larr; Newer</a>
  </li>
  <li class="pagenum">Page {{page}}</li>
  <li class="next">
    <a ng-href="#/browse/{{page + 1}}">Older &rarr;</a>
  </li>
</ul> 
