<h2>Releases</h2>

<button ng-if="user | canEdit:module" ui-sref="show.newRelease"
class="btn btn-link header-button">
  <span class="glyphicon glyphicon-cloud-upload"></span>Upload New Release
</button>

<table class="table">
  <tr>
    <th>Version</th>
    <th>OpenMRS Version Requirement</th>
    <th>Date Created</th>
    <th></th>
  </tr>

  <tr ng-repeat="release in module.releases">

    <td>{{release.moduleVersion}}</td>    
    <td>{{release.requiredOMRSVersion}}</td>
    <td>{{release.dateCreated | date : 'short'}}</td>
    <td>
      <a ng-href="{{release.downloadURL}}">
        <button type="button" class="btn btn-default btn-xs">Download</button>
      </a>
      <button class="btn btn-link btn-warning" ng-if="user | canEdit:module"  ng-click="confirmDeleteRelease($index)">
        <span class="glyphicon glyphicon-trash"></span>Delete
      </button>
    </td>
  </tr>
</table>

<script type="text/ng-template" id="uponDeleteReleaseDialog.html">
  <div class="modal-header">
    <button type="button" class="close" ng-click="close()">
      &times;
    </button>
    <h4 class="modal-title">Are you sure you want to delete this release?</h4>
  </div>
  <div class="modal-body">
    <p ng-if="module.releases.length == 1">
      You are deleting the only release of "{{module.name}}"
      Would you like to keep this module's metadata in the system, or delete the module entirely?
    </p>
    <p ng-if="module.releases.length != 1">
      "{{module.name}}" version "{{release.moduleVersion}}" will be deleted.
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" ng-click="$close()">
      Delete this release
    </button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()">
      Cancel
    </button>
  </div>
</script>
