<div class="row" ng-switch on="editable">

  <button ng-switch-default class="btn btn-link btn-warning" ng-click="toggleEdit()" >
    Edit
  </button>

  <button ng-switch-when="true" class="btn btn-default btn-success" ng-click="updateModule(true)">
    Save Edits
  </button>

  <button class="btn btn-link btn-warning" ng-click="confirmDeleteModule()">
    Delete
  </button>
</div>

<div class="row col-md-8">

  <h2 class="module-name" ng-if="!editable">{{module.name}}</h2>
  <h2 ng-if="editable">
    <span editable-text="module.name" e-placeholder="Module Name">
      {{module.name}}
    </span>
  </h2>

  <p class="desciription lead" ng-if="!editable">{{module.description}}</p>
  <p class="desciription lead" ng-if="editable">
    <span editable-textarea="module.description" e-rows="4" e-cols="60"
      e-placeholder="Description">
      {{module.description}}
    </span>
  </p>

</div>

<div class="row">

  <div class="col-md-8">
    <table class="table module-detail-table">
      <tr>
        <th>Last Updated</th>
        <td>{{module.lastUpdated | date : 'short'}}</td>
      </tr>

      <tr>
        <th>Documentation</th>
        <td ng-if="!editable">
          <a ng-href="{{module.documentationURL}}">
            {{module.documentationURL}}
          </a>
        </td>
        <td ng-if="editable">
          <span editable-text="module.documentationURL"
            e-placeholder="Documentation URL">
            {{module.documentationURL}}
          </span>
        </td>
      </tr>

      <tr>
        <th>Latest Version</th>
        <td>{{latestRelease.moduleVersion}}</td>
      </tr>

      <tr>
        <th>Compatibility</th>
        <td>{{latestRelease.requiredOMRSVersion}}</td>
      </tr>

      <tr>
        <th>Downloads</th>
        <td>{{latestRelease.downloadCount}}</td>
      </tr>

      <tr ng-switch on="editable">
        <th>
          Owner
          <span class="glyphicon glyphicon-question-sign" tooltip="Owners can
          make any modifications to a module, and can assign and manage
          maintainers."></span>
        </th>

        <td ng-switch-when="false">
          <a ng-href="{{module.owner | wikiprofile}}">
            {{module.owner.username}}
          </a>
          <span ng-if="!module.owner" class="no-users-label">
            None
          </span>
        </td>
        <td ng-switch-when="true" ng-controller="UserSelectController">
          <input ui-select2="singleSelectOpts" ng-model="chosenOwner">
        </td>
      </tr>

      <tr ng-switch on="editable">
        <th>
          Maintainers
          <span class="glyphicon glyphicon-question-sign" tooltip="Maintainers
          can make edits and updates to a module, but cannot delete content or
          change authorship."></span>
        </th>

        <td ng-switch-when="false">
          <span ng-repeat="m in module.maintainers">
            <a ng-href="{{m | wikiprofile}}">{{m.username}}</a>{{$last ? '' : ','}} 
          </span>
          <span ng-if="module.maintainers.length == 0" class="no-users-label">
            None
          </span>
        </td>
        <td ng-switch-when="true" ng-controller="UserSelectController">
          <input ui-select2="multiSelectOpts" ng-model="chosenMaintainers">
        </td>
      </tr>
    </table>
  </div>

  <div class="col-md-4">
    <p>
      <a ng-href="{{latestRelease.downloadURL}}" ng-click="incrementDownload()">
        <button type="button" class="btn btn-primary btn-lg">Download</button>
      </a>
    </p>

  </div>

</div>

<div class="row col-md-12">
  <h2>Releases</h2>
  <table class="table">
    <tr>
      <th>Version</th>
      <th>OpenMRS Version Requirement</th>
      <th>Date Created</th>
      <th></th>
    </tr>

    <tr ng-repeat="release in module.releases">

      <td>{{release.moduleVersion}}</td>    
      <td>{{release.requiredOMRSVersion}}</td>
      <td>{{release.dateCreated | date : 'short'}}</td>
      <td>
        <a ng-href="{{release.downloadURL}}">
          <button type="button" class="btn btn-default btn-xs">Download</button>
        </a>
      </td>
    </tr>
  </table>
</div>