<!doctype html>
<html lang="en" ng-app="modulusOne">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title ng-bind="$root.title && ($root.title + ' — OpenMRS Module Repository') || 'OpenMRS Module Repository'">
    OpenMRS Module Repository
  </title>

  <link rel="shortcut icon" href="img/favicon.ico">
  <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/angular/angular-csp.css">
  <link rel="stylesheet" href="css/app.css"/>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

  <script type="text/javascript">
    var MODULUS_API_BASE_URL = "<%= modulusApiBaseUrl %>"

    // don't flip this one, please
    var MODULUS_API_READ_ONLY = <%= modulusApiReadOnly %>
  </script>

  <script type="text/javascript" id="globalnav-script" src="https://id.openmrs.org/globalnav/js/app-optimized.js"></script>
</head>
<body ng-class="{readonly: $root.modulusApiReadOnly}">

  <div class="container">

    <header class="clearfix">


      <h1 class="col-sm-6">
        <a href="#/">
          <img class="logo" src="img/logo-black.svg" alt="OpenMRS Modules">
        </a>
      </h1>

      <nav class="col-sm-6 navbar navbar-default">
        <ul class="nav navbar-nav">
          <li>
            <a href="#/browse">Browse Modules</a>
          </li>
          <li>
            <a href="#/search">Search for Modules</a>
          </li>
          <li>
            <a href="#/create">Upload Module</a>
          </li>
        </ul>
      </nav> 

    </header>

    <section class="row alerts" ng-include="'partials/alerts.html'">
    </section>

    <section ng-view class="clearfix" ng-class="$root.controller"></section>

    <noscript>
      <p class="lead text-center">Unfortunatly, JavaScript is required to use the Module Repository.</p>
    </noscript>

    <footer>
      Powered by 
      <a href="http://github.com/openmrs/openmrs-contrib-modulus">Modulus</a>
    </footer>

  </div>


  <script src="https://code.jquery.com/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="vendor/lodash/dist/lodash.min.js"></script>
  <script src="vendor/danialfarid-angular-file-upload/dist/angular-file-upload-shim.min.js"></script>
  <script src="vendor/select2/select2.min.js"></script>

  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="vendor/restangular/dist/restangular.min.js"></script>
  <script src="vendor/angular-xeditable/dist/js/xeditable.min.js"></script>
  <script src="vendor/danialfarid-angular-file-upload/dist/angular-file-upload.min.js"></script> 
  <script src="vendor/angular-ui/build/angular-ui.min.js"></script>
  <script src="lib/ui-bootstrap-tpls-0.9.0.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/listControllers.js"></script>
  <script src="js/showControllers.js"></script>
  <script src="js/createControllers.js"></script>
  <script src="js/searchControllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>

  <link rel="stylesheet" href="vendor/angular-xeditable/dist/css/xeditable.css">

</body>
</html>
